# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [18]:
print("anish")

anish

In [17]:
import pandas as pd
df=pd.DataFrame({
    "Name":["Anish","Masan"],
    "Age":[24,12],
    "City":["Asasnsol","Burnpur"]

})
print(df)

    Name  Age      City
0  Anish   24  Asasnsol
1  Masan   12   Burnpur

In [24]:
print(df.iat[1, 1])

12

In [4]:
import pandas as pd
url="https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list"
df=pd.read_html(url)
print(df)

[                               Bank Name               City         State  \
0                   Pulaski Savings Bank            Chicago      Illinois
1     The First National Bank of Lindsay            Lindsay      Oklahoma
2  Republic First Bank dba Republic Bank       Philadelphia  Pennsylvania
3                          Citizens Bank           Sac City          Iowa
4               Heartland Tri-State Bank            Elkhart        Kansas
5                    First Republic Bank      San Francisco    California
6                         Signature Bank           New York      New York
7                    Silicon Valley Bank        Santa Clara    California
8                      Almena State Bank             Almena        Kansas
9             First City Bank of Florida  Fort Walton Beach       Florida

    Cert                Acquiring Institution      Closing Date  \
0  28611                      Millennium Bank  January 17, 2025
1   4134   First Bank & Trust Co., Duncan, OK  October 18, 2024
2  27332    Fulton Bank, National Association    April 26, 2024
3   8758            Iowa Trust & Savings Bank  November 3, 2023
4  25851               Dream First Bank, N.A.     July 28, 2023
5  59017            JPMorgan Chase Bank, N.A.       May 1, 2023
6  57053                  Flagstar Bank, N.A.    March 12, 2023
7  24735  First Citizens Bank & Trust Company    March 10, 2023
8  15426                          Equity Bank  October 23, 2020
9  16748            United Fidelity Bank, fsb  October 16, 2020

   Fund  Sort ascending
0                 10548
1                 10547
2                 10546
3                 10545
4                 10544
5                 10543
6                 10540
7                 10539
8                 10538
9                 10537  ]

In [7]:
df[0]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
1,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,"First Bank & Trust Co., Duncan, OK","October 18, 2024",10547
2,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
3,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
4,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
5,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
6,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
7,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
8,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
9,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537

In [2]:
import pandas as pd
data=pd.read_excel("vehicleTableExcel.xlsx")
print(data)

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.