In [2]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [7]:
# Create simple one DataFrame
df=pd.DataFrame({
    'colors':('red','blue','green','black')
})

In [8]:
print(df)

  colors
0    red
1   blue
2  green
3  black

In [14]:
encoder=OneHotEncoder()
enconded=encoder.fit_transform(df[['colors']]).toarray()
# here it sorted in the alphabetical order and shown in the array format of 0 and 1

In [15]:
encoded_df=pd.DataFrame(enconded,columns=encoder.get_feature_names_out())

In [16]:
encoded_df

   colors_black  colors_blue  colors_green  colors_red
0           0.0          0.0           0.0         1.0
1           0.0          1.0           0.0         0.0
2           0.0          0.0           1.0         0.0
3           1.0          0.0           0.0         0.0

In [ ]:
encoder.transform([['red']]).toarray()
# so this fix the index for the new data and exsiting one

/Users/anish/Documents/dev/pythonDev/.venv/lib/python3.9/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[0., 0., 0., 1.]])

In [31]:
import seaborn as sns
data=sns.load_dataset('tips')
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [25]:
encodedd=OneHotEncoder()

In [37]:
# OneHotEncoder does not handle multiple columns when passed as a tuple like this.
# Instead, select the columns as a DataFrame:
encoded_data = encodedd.fit_transform(data[['day', 'sex', 'smoker']]).toarray()

In [38]:
encoded_data

array([[0., 0., 1., ..., 0., 1., 0.],
       [0., 0., 1., ..., 1., 1., 0.],
       [0., 0., 1., ..., 1., 1., 0.],
       ...,
       [0., 1., 0., ..., 1., 0., 1.],
       [0., 1., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [39]:
encoded_sns=pd.DataFrame(encoded_data,columns=encodedd.get_feature_names_out())

In [40]:
encoded_sns

,day_Fri,day_Sat,day_Sun,day_Thur,sex_Female,sex_Male,smoker_No,smoker_Yes
0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
239,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
240,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
241,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
242,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
243,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0