In [3]:
import numpy as np 
import pandas as pd 
np.random.seed(123)
sample=1000
class_ratio=0.9
n_class_1=int(sample * class_ratio)
n_class_2=(sample-n_class_1)

In [4]:
n_class_1,n_class_2

(900, 100)

In [5]:
# now we have to perform the up scaling the values like match the 900 as 900,for both the class

In [7]:
class_1=pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_1),
        'feature1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[0]*n_class_1

})
class_2=pd.DataFrame({
        'feature1':np.random.normal(loc=2,scale=1,size=n_class_2),
    'feature2':np.random.normal(loc=2,scale=1,size=n_class_2),
     'target':[1]*n_class_2
})

In [8]:
df=pd.concat([class_1,class_2]).reset_index(drop=True)

In [10]:
df.head(5)

   feature1  target  feature2
0  0.667532       0       NaN
1  0.100458       0       NaN
2 -0.012610       0       NaN
3  0.219907       0       NaN
4  0.813623       0       NaN

In [11]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [12]:
df_minority=df[df['target']==1]

In [13]:
df_minority

     feature1  target  feature2
900  1.632581       1  3.300921
901  2.575273       1  1.069348
902  2.439351       1  1.148687
903  1.271848       1  2.136584
904  1.111470       1  1.575746
..        ...     ...       ...
995  0.438134       1  4.540514
996  1.232181       1  1.917294
997  2.387223       1  2.444621
998  0.787082       1  3.896404
999  4.018714       1  2.237581

[100 rows x 3 columns]

In [14]:
df_majority=df[df['target']==0]

In [15]:
df_majority.head(5)

   feature1  target  feature2
0  0.667532       0       NaN
1  0.100458       0       NaN
2 -0.012610       0       NaN
3  0.219907       0       NaN
4  0.813623       0       NaN

In [17]:
# Unable to import sklearn, so let's implement a simple resampling using pandas and numpy

# Upsample the minority class (target==1) to match the majority class size
df_minority_upsampled = df_minority.sample(
    n=len(df_majority), 
    replace=True, 
    random_state=43
)

In [19]:
df_minority_upsampled.shape

(900, 3)

In [20]:
df_minority_upsampled.head()

     feature1  target  feature2
968  2.409072       1  1.640528
964  2.575225       1  2.471528
949  3.288574       1  1.717587
921  1.424588       1  1.392577
958  3.142119       1  2.102900

In [22]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [ ]:
df_upsampled['target'].value_counts()
# here we  got the upsacled values that is equal for both the 0 and 1 as 900

target
0    900
1    900
Name: count, dtype: int64

In [ ]:
# Now we will downScaling to match the 100 for both 0 and 1 but the recoomeded is the upscale

In [ ]:
class_1=pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_1),
        'feature1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[0]*n_class_1

})
class_2=pd.DataFrame({
        'feature1':np.random.normal(loc=2,scale=1,size=n_class_2),
    'feature2':np.random.normal(loc=2,scale=1,size=n_class_2),
     'target':[1]*n_class_2
})

In [29]:
df=pd.concat([class_1 ,class_2,]).reset_index(drop=False)

In [30]:
df

     index  feature1  target  feature2
0        0  0.667532       0       NaN
1        1  0.100458       0       NaN
2        2 -0.012610       0       NaN
3        3  0.219907       0       NaN
4        4  0.813623       0       NaN
..     ...       ...     ...       ...
995     95  0.438134       1  4.540514
996     96  1.232181       1  1.917294
997     97  2.387223       1  2.444621
998     98  0.787082       1  3.896404
999     99  4.018714       1  2.237581

[1000 rows x 4 columns]

In [32]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [33]:
df_point=df[df['target']==0]

In [34]:
df_down=df[df['target']==1]

In [35]:
df_down.head(4)

     index  feature1  target  feature2
900      0  1.632581       1  3.300921
901      1  2.575273       1  1.069348
902      2  2.439351       1  1.148687
903      3  1.271848       1  2.136584

In [68]:

# Downsample the majority class (class 0) to match the minority class (class 1) size
df_majority_downsampled = df_point.sample(n=len(df_down), replace=False, random_state=42)

In [71]:
df_majority_downsampled.shape

(100, 4)

In [72]:
df_concat=pd.concat([df_majority_downsampled,df_down])

In [73]:
df_concat.shape

(200, 4)

In [ ]:
df_concat.target.value_counts()
# we nerver recommed the down smapling

target
0    100
1    100
Name: count, dtype: int64

In [66]:
df_concat['target'].value_counts()

target
0    1800
Name: count, dtype: int64