In [1]:
import pandas as pd

In [16]:
from sklearn.preprocessing import LabelEncoder

df = pd.DataFrame({'colors': ['red', 'black','blue','green']})
encoder=LabelEncoder()

In [9]:
encoder

  colors
0    red
1  black
2   blue
3  green

In [17]:
encoder.fit_transform(df[['colors']])

/Users/anish/Documents/dev/pythonDev/.venv/lib/python3.9/site-packages/sklearn/preprocessing/_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([3, 0, 1, 2])

In [45]:
from sklearn.preprocessing import OrdinalEncoder
df=pd.DataFrame({'education':["High School","College","High School","Post Graudate"]})

In [40]:
df

       education
0    High School
1        College
2    High school
3  Post Graudate

In [46]:
encoder=OrdinalEncoder(categories=[["High School","College","Post Graudate"]])

In [ ]:
# Fix category mismatches by standardizing the values in 'education' column to match the categories in encoder
# df['education'] = df['education'].str.strip().str.title()  // rthis is used for trim the lowercase and mismatch
encoder = OrdinalEncoder(categories=[["High School", "College", "Post Graudate"]])
encoder.fit_transform(df[['education']])

array([[0.],
       [1.],
       [0.],
       [2.]])

In [65]:
import seaborn as sns 
df=sns.load_dataset('tips')

In [66]:
df = pd.DataFrame(df[['total_bill','time']])

In [82]:
mean_price=df.groupby("time")['total_bill'].mean().to_dict()

/var/folders/21/xc4lntp95891m8f24q5x0cg80000gn/T/ipykernel_2435/3876007160.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_price=df.groupby("time")['total_bill'].mean().to_dict()

In [83]:
mean_price

{'Lunch': 17.168676470588235, 'Dinner': 20.79715909090909}

In [87]:
df['price']=df['time'].map(mean_price)

In [88]:
df.head(10)

   total_bill    time      price  mean_rice
0       16.99  Dinner  20.797159  20.797159
1       10.34  Dinner  20.797159  20.797159
2       21.01  Dinner  20.797159  20.797159
3       23.68  Dinner  20.797159  20.797159
4       24.59  Dinner  20.797159  20.797159
5       25.29  Dinner  20.797159  20.797159
6        8.77  Dinner  20.797159  20.797159
7       26.88  Dinner  20.797159  20.797159
8       15.04  Dinner  20.797159  20.797159
9       14.78  Dinner  20.797159  20.797159